---
// src/pages/about-me.astro
import Layout from '../layouts/Layout.astro';
import CustomEl from '../components/CustomEl.astro';
---

<Layout title="About Kiet">
    <h2>About MEEEEEEEEEEEEE!!!!!!!!!!!!!!!!!!!!!!!!!</h2>

    <section class="about-me" id="about-me">
        <div class="two-row-layout">
                <picture> 
                    <source srcset="public/resources/images/Kiet_JZG_600.jpg 600w , public/resources/images/KietAndHisFriends_1024.jpg 1024w" , media="(min-width: 1025px)" alt="Kiet (the middle left by the window) and his friends">
                    <img    width="600" alt="Kiet at Jiu Zhai Gou " src="public/resources/images/Kiet_JZG_600.jpg">
                </picture>
                <p> 
                    Kiet spent 3 years at Pasadena City College before transferring to <strong>UC San Diego</strong>, 
                    majoring in <strong>Computer Science</strong>. 
                    Kiet has always been amazed of <b>Robotics</b> technology, 
                    especially application in the field of transportations. 
                    Ever since moving to San Diego for college, 
                    Kiet has fall in love with this place, and is hunting for j*bs 
                    in order to stay with the warm sand and cold ocean. <br>
                    He's also obsessed with <em>Beige and Rounded corners.</em> <br>
                    Haven't mentioned, <strong>Kiet extremely loves cars and anything that could potentially injured him at highspeed</strong>.
                </p>
        </div>
    </section>
    
    <hr>
    
    <section class="wrapper" >
        <div class="two-column-layout">
            <ul>
                <li>GOAL</li>
                <li>Landing a j*b after college, preferably into automotive industry.</li>
                <li>Get a Master Degree in the same field.</li>
                <li>Supports my 2 younger sister's financially.</li>
                <li>Become a College Instructor at one point and have my own startup.</li>
            </ul>

            <ul>
                <li>FRUSTRATION</li>
                <li>J*b market.</li>
                <li>Home is a hemisphere away.</li>
                <li>College professor is a professional yapper.</li>
                <li>Overcooked Steak but Undercook Chicken.</li>
                <li>UC San Diego parking situations.</li>
                <li>Too broke for expensive hobbies.</li>
            </ul>
        </div>
    </section> 


<CustomEl />
</Layout>