---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import CustomEl from '../components/CustomEl.astro';
---

<Layout title="CSE 134B - VyDang">
            <section class="wrapper">
                <div class="two-column-layout">                    
                    <span>
                        <h1> VY KIET <br> DANG </h1>
                        <h2>UC San Diego <br> Computer Science</h2>
                    </span>

                    <figure>
                        <picture> 
                            <source srcset ="public/resources/images/Kiet_Pink_600.jpg 600w, public/resources/images/Kiet_Lake_1024.jpg 1024w" media="(min-width: 1025px)">
                            <img    width="600" alt="Pink Kiet" src="public/resources/images/Kiet_Pink_600.jpg">
                        </picture>
                        <figcaption>Kiet at Jiu Zhai Gou</figcaption>
                    </figure>
                </div>
            </section>

            <hr>

            <p> 
                My name is <strong>Kiet</strong>, and I built this site to for one of my class project, and for fun. 
                I enjoy doing random stuffs at random times since my attention span is weird. 
                But anyway, feel free to navigates around and click on random stuffs. 
            </p>

  <CustomEl />
</Layout>