---
// src/components/Footer.astro
const currentYear = new Date().getFullYear();
---

<footer>
    <div>
              <p>&copy; <span id="year"></span> Vy Kiet Dang. All rights reserved.</p>
              <a href="contact.html">Contact @Kiet</a>
    </div>
</footer>