---
// src/layouts/Layout.astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  
  <title>{title}</title>
  
  <link rel="stylesheet" href="/css/main.css" media="screen">
  <link rel="icon" type="image/x-icon" href="/resources/vkd.ico">
  
  <!-- Importing Custom Porsche fonts directly from porsche.com -->
  <link 
      rel="preload" 
      as="style" 
      href="https://cdn.ui.porsche.com/porsche-design-system/styles/font-face.7076ba0.css"
      onload="this.onload=null;this.rel='stylesheet'">
  
  <noscript>
      <link rel="stylesheet" href="https://cdn.ui.porsche.com/porsche-design-system/styles/font-face.7076ba0.css">
  </noscript>                

  <!-- Importing Masonry Layout for cards -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
  <!-- imagesLoaded to ensure images have loaded before Masonry layout -->
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

</head>

<body>
  <Header />
  
  <main>
    <slot />
  </main>
  
  <Footer />
  
  <!-- Dark mode script, applicable to all pages -->
  <script is:inline src="/javascript/darkmode.js"></script>

  <!-- JS Disable fail safe -->
  <noscript>
    <p>Hi, you are having your JavaScript turn off. This will affect some components of the website.</p>
  </noscript>
</body>
</html>
